
.vs/

MemQueue/bin/

MemQueue/obj/

TestHarness.Chat/bin/

TestHarness.Chat/obj/

TestHarness.Server/bin/

TestHarness.Server/obj/

TestHarness.LoadTest/obj/

TestHarness.LoadTest/bin/

NTDLS.MemQueue/bin/

NTDLS.MemQueue/obj/
